<!-- services section starts -->

<section class="services" id="services">

    <h1 class="heading"> our <span>services</span></h1>
    
    <div class="box-container">
        
    </div>

</section>

<!-- services section ends -->

<script>
    $(document).ready(function() {
        // Array of icon classes
        var iconClasses = [
            'fas fa-car',
            'fas fa-tools',
            'fas fa-car-crash',
            'fas fa-car-battery',
            'fas fa-gas-pump',
            'fas fa-headset'
        ];
    
        // AJAX call to fetch service data
        $.ajax({
            url: 'rest/service', // Endpoint to fetch service data
            method: 'GET',
            success: function(data) {
                // Iterate over the fetched data and populate service boxes
                data.forEach(function(service, index) {
                    // Create a new service box
                    var $box = $('<div class="box"></div>');
    
                    // Add icon
                    var $icon = $('<i class="' + iconClasses[index] + '"></i>');
                    $box.append($icon);
    
                    // Add service name
                    var $serviceName = $('<h3>' + service.sname + '</h3>');
                    $box.append($serviceName);
    
                    // Add service description
                    var $serviceDescription = $('<p>' + service.sdesc + '</p>');
                    $box.append($serviceDescription);
    
                    // Add "read more" link
                    var $readMoreLink = $('<a href="#" class="btn">read more</a>');
                    $box.append($readMoreLink);
    
                    // Append the box to the container
                    $('.box-container').append($box);
                });
            },
            error: function(xhr, status, error) {
                console.error('Error fetching service data:', error);
            }
        });
    });
</script>